@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Inconsolata:wght@200..900&family=Limelight&display=swap");

h1 {
  font-size: 70px;
  font-family: "Fascinate Inline", system-ui;
}

h3 {
  font-family: "Limelight", sans-serif;
}

img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  object-position: center;
}

h5,
p,
button {
  font-family: "Inconsolata", monospace;
}
